{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <!-- Modals -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Add new location</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="location" method="post" id="location-form" action="/location/add"
                          enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label vasilek b1">Name</label>
                            <input type="text" id="location_name" name="location[name]" required="required"
                                   class="form-modal-input form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label vasilek b1">Icon file</label>
                            <input type="file" id="location_icon" name="location[icon]"
                                   class="form-modal-input form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label vasilek b1">Or choose our icon</label>
                            <select id="location_icon_image" name="location[icon_image]"
                                    class="form-modal-input form-select">
                                <option value=""></option>
                                {% if icon_images is not empty %}
                                    {% for icon_image in icon_images %}
                                        <option value="{{ icon_image.id }}">{{ icon_image.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label vasilek b1">Choose plate</label>
                            <select id="location_user_api" name="location[user_api]" required="required"
                                    class="form-modal-input form-select">
                                <option value="" selected="selected">Choose an option</option>
                                {% if plates is not empty %}
                                    {% for plate in plates %}
                                        <option value="{{ plate.id }}">{{ plate.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn-add-room text-center b2" type="submit" form="location-form">Add location</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals End -->
    <div class="container-fluid">
        <h1 class="text-center my-2 vasilek">Main info</h1>
        <div class="row my-2">
            <div class="col-12">
                <div class="info">
                    <h3 class="text-center vasilek mb-1">How to use it?</h3>
                    <div class="b1 text-color text-center">See <a href="#" class="vasilek">user help</a> guide, to use
                        it good
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
                <div class="add-text b1 vasilek d-flex justify-content-start">
                    <a href="#add_room" class="vasilek text-decoration-none d-flex justify-content-center"
                       data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="{{ asset('img/svg/plus.svg') }}" alt="add" class="me-1">Add location
                    </a>
                </div>
            </div>
        </div>
        <div class="row my-2">
            {% if locations is not empty %}
                {% for location in locations %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center my-3">
                        <div class="room-card p-2 d-inline text-center">
                            <a class="vasilek text-decoration-none me-1"
                               href="{{ path('app_location') }}#{{ location.id }}">
                                <img class="room-icon"
                                     src="{{ location.icon is not empty ? location.icon : location.iconImage.img }}"
                                     alt="nothing">
                                <h3 class="room-name mx-auto d-flex justify-content-center">
                                    {{ location.name }}

                                    <a href="{{ path('app_edit_location', {'location': location.id}) }}"><img
                                                class="ms-1"
                                                src="{{ asset('img/svg/edit.svg') }}"
                                                alt="edit"></a>
                                </h3>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center my-3">
                    <div class="room-card p-2 d-inline text-center">
                        <img class="room-icon" src="{{ asset('img/svg/help-circle.svg') }}"
                             alt="nothing">
                        <h3 class="room-name vasilek">You doesn't have a location</h3>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>


{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
                $('#nav-home').addClass('my-white');
            }
        );
        let locationIdNow;

        function selectLocation(locationId) {
            locationIdNow = locationId;
            $.get(`/location/${locationId}/get`, function (data) {
                let select = document.querySelector('#location_data_icon_image');
                console.log(data);
                $('#location_data_id').val(locationId);
                $('#location_data_name').val(data.name);
                if (data.iconImage) {
                    select.value = data.iconImage;
                }
            })
        }

        function deleteLocation() {
            let alright = confirm('Are you sure to delete this location? It is also delete all this publishers!');
            if (alright) {
                $.get(`/location/${locationIdNow}/delete`, function (data) {
                    window.location.href = '/';
                })
            }
        }
    </script>
{% endblock %}