<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg bg-vasilek px-2 px-sm-3 px-md-3 px-lg-4 px-xl-5 py-0">
    <a class="navbar-brand text-color text-responsive" href="#">
        <h3 class="response">HomeBrain</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item mx-2">
                <a class="nav-link b1 {% block activeHome %}{% endblock %}" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link b1 {% block activeDashboard %}{% endblock %}" href="{{ path('app_dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link b1 {% block activeNotices %}{% endblock %}" href="#">Notices</a>
            </li>
        </ul>
        <a href="#" class="nav-link mx-2 px-0">
            <div class="user my-lg-0 d-flex align-items-center text-color">
                <h3 class="me-2"><a id="user-link" class="text-color text-decoration-none" href="{{ path('user_account') }}">{{ app.user.username }}</a></h3>
                <img src="{{ app.user.avatar is not empty ? asset(app.user.avatar) : asset('img/avatars/default_avatar.png') }}" alt="user-avatar" class="user-avatar my-1">
            </div>
        </a>

    </div>
</nav>
<div class="container">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show my-2" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block body %}
{% endblock %}
<footer class="footer mt-auto bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-vasilek my-white">
        © 2023 Copyright:
        <a class="link-light" href="#">HomeBrain</a>
    </div>
    <!-- Copyright -->
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
