{% extends 'auth_layout.html.twig' %}

{% block title %}Reg{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="text-center">
            <img src="{{ asset('img/svg/logo.svg') }}" alt="brand-logo" class="brand-logo my-3">
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label my-white b1">Name</label>
            {{ form_widget(form.username) }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label my-white b1">Email address</label>
            {{ form_widget(form.email) }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label my-white b1">Password</label>
            {{ form_widget(form.password.first) }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label my-white b1">Re-password</label>
            {{ form_widget(form.password.second) }}
        </div>
        <button type="submit" class="mb-3 b3">Sign Up</button>
        <div class="b3 my-white">Already have an account? <a href="{{ path('app_login') }}">Sign In</a></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
